/* https://visme.co/blog/website-color-schemes/ */
/* body{
    background-image: linear-gradient(#659DBD, #FBEEC1);
    width: 100%;
    height: 65vh;
    /* background-size: cover;
    background-position: center; */
*{
    font-family: 'Marriweather' serif;
}